create function [dbo].[fn_getdistrictname] (@code varchar(20),@levelid tinyint)
returns varchar(100)
as
begin
/*
   declare @prt integer,@levid tinyint,@des varchar(100)

   select top 1 @prt=parent,@levid=level_id,@des=zdesc from tb_treedata where rec_id=@recid

   return case when @levid=@levelid then @des else case when @@rowcount=0 or @prt=-1 then '' else dbo.fn_getdistrictlevel(@prt,@levelid) end end
*/
   declare @ret varchar(100)

	if @levelid=1
		select top 1 @ret=prov_name from tb_district where prov_code=@code or city_code=@code or county_code=@code
	else if @levelid=2
		select top 1 @ret=city_name from tb_district where city_code=@code or county_code=@code
	else if @levelid=3
		select top 1 @ret=county_name from tb_district where county_code=@code

   return (@ret)

end

