create function [dbo].[fn_getmedpricerecid2](@mateid int,@materialcode varchar(20),@dt datetime)
/*学术标准政策 tb_medprice.rec_id*/
returns int
as
begin

	declare @ret int

select top 1 @ret = rec_id  --channel_id,channel_dtl_id,district_id,m.material_code1,rec_id=max(rec_id) 
		from tb_medprice a,tb_medicine m 
		where a.type_id=5 and a.mate_id=@mateid and a.med_id=m.med_id 
		and m.material_code1=(select top 1 material_code1 from tb_medicine where material_code=@materialcode)
		and a.valid_from<=@dt
	order by a.valid_from desc,rec_id desc

	return (@ret)

end

