ALTER function [dbo].[fn_getmedpricerecid](@materialcode varchar(20),@channelcode int,@channeldtlcode int,@provcode varchar(20),@citycode varchar(20),@dt datetime)
/*
学术标准政策 tb_medprice.rec_id
用于 商业管理\商业采购推广费统计
*/
returns int
as
begin

	declare @ret int
/*
	select top 1 @ret=rec_id from tb_medprice a 
	left join tb_object c on a.channel_id=c.obj_id
	left join tb_object d on a.channel_dtl_id=c.obj_id
	inner join tb_medicine m on a.med_id=m.med_id 
	where a.type_id=3 and (m.material_code=@materialcode or m.material_code1=@materialcode) 
		--and c.obj_code=@channelcode and d.obj_code=@channeldtlcode
		--and (dbo.fn_getdistrictname (a.district_id,1)=@provname) -- or dbo.fn_getdistrictname (c.district,2)=@cityname)
		and (prov_name=@provname) -- or dbo.fn_getdistrictname (c.district,2)=@cityname)
		and a.valid_from<=@dt
--	order by case when dbo.fn_getdistrictname (c.district,2)=@cityname then 1 else 0 end desc,a.valid_dt desc
	order by a.valid_from desc
*/
/*
	select top 1 @ret=rec_id from tb_medprice a 
	left join tb_object c on a.channel_id=c.obj_id
	left join tb_object d on a.channel_dtl_id=c.obj_id
	inner join tb_medicine m on a.med_id=m.med_id 
	where a.type_id=3 
		and (m.material_code=@materialcode or m.material_code1=@materialcode) 
		and (a.channel_id=@channelcode and a.channel_dtl_id=@channeldtlcode)
		and (a.district_id=@provcode or a.district_id=@citycode or @citycode like cast(district_id as varchar(6))+'%')
		and a.valid_from<=@dt
	order by case when a.district_id=@citycode then 1 else 2 end,a.valid_from desc,rec_id desc
*/
select top 1 @ret = rec_id  --channel_id,channel_dtl_id,district_id,m.material_code1,rec_id=max(rec_id) 
		from tb_medprice a,tb_medicine m 
		where a.type_id=3 and a.med_id=m.med_id 
		and m.material_code1=(select top 1 material_code1 from tb_medicine where material_code=@materialcode)
	and (a.channel_id=@channelcode and a.channel_dtl_id=@channeldtlcode)
	and (a.district_id=@provcode or a.district_id=@citycode or @citycode like cast(a.district_id as varchar(6))+'%')
	and a.valid_from<=@dt
	order by case when a.district_id=@citycode then 1 else 2 end,a.valid_from desc,rec_id desc

	return (@ret)

end

