ALTER function [dbo].[fn_getmedpricerecid](@materialcode varchar(20),@channelcode int,@channeldtlcode int,@provname varchar(20),@cityname varchar(20),@dt datetime)
/*学术标准政策 tb_medprice.rec_id  type_id=3*/
returns int
as
begin

	declare @ret int

	select top 1 @ret=rec_id from tb_medprice a 
	left join tb_object c on a.channel_id=c.obj_id
	left join tb_object d on a.channel_dtl_id=c.obj_id
	inner join tb_medicine m on a.med_id=m.med_id 
	where a.type_id=3 and (m.material_code=@materialcode or m.material_code1=@materialcode) 
		--and c.obj_code=@channelcode and d.obj_code=@channeldtlcode
		--and (dbo.fn_getdistrictname (a.district_id,1)=@provname) -- or dbo.fn_getdistrictname (c.district,2)=@cityname)
		and (prov_name=@provname) -- or dbo.fn_getdistrictname (c.district,2)=@cityname)
		and a.valid_from<=@dt
--	order by case when dbo.fn_getdistrictname (c.district,2)=@cityname then 1 else 0 end desc,a.valid_dt desc
	order by a.valid_from desc

	return (@ret)

end

