declare @channel_id int,@channel_dtl_id int,@districtid int,@medid int,@dt smalldatetime
select @channel_id=10,@channel_dtl_id=10,@districtid=4419,@medid=129,@dt='2025-01-01'

--select top 1 @ret=case when isnull(price1,0)=0 then 0.00 else 100*price/price1 end
select *,case when isnull(price1,0)=0 then 0.00 else 100*price/price1 end
	from tb_medprice 
	where type_id=3 
	   and channel_id=@channel_id and channel_dtl_id=@channel_dtl_id
	   and med_id=@medid and valid_from<=@dt
		and (district_id=@districtid or @districtid like cast(district_id as varchar(6))+'%')
		and (@districtid like cast(district_id as varchar(6))+'%')
		--and @districtid like cast(district_id as varchar(6))+'%'
	order by case when district_id=@districtid then 1 else 2 end,valid_from desc,rec_id desc

select rec_id,type_id,channel_id,channel_dtl_id,b.obj_code,c.obj_code
 from tb_medprice a,tb_object b,tb_object c
 where type_id=3 and a.channel_id=b.obj_id and a.channel_dtl_id=c.obj_id

select * into tb_medprice_250624 from tb_medprice

update a set channel_id=b.obj_code,channel_dtl_id=c.obj_code
 from tb_medprice a,tb_object b,tb_object c
 where type_id=3 and a.channel_id=b.obj_id and a.channel_dtl_id=c.obj_id


 tb_medprice where type_id=1


