ALTER function [dbo].[fn_getbusiframe3recid](@materialcode varchar(20),@channelcode int,@channeldtlcode int,@provname varchar(20),@cityname varchar(20),@dt datetime)
returns int
as
begin

	declare @ret int

	select top 1 @ret=rec_id from tb_busiframe3 a 
	inner join tb_busimate c on a.mate_id=c.mate_id
	inner join tb_medicine m on a.med_id=m.med_id 
	where (m.material_code=@materialcode or m.material_code1=@materialcode) 
		--and a.channel_id=@channelid and a.channel_dtl_id=@channeldtlid
		and (dbo.fn_getdistrictname (c.district,1)=@provname or dbo.fn_getdistrictname (c.district,2)=@cityname)
	and a.valid_dt<=@dt
	order by case when dbo.fn_getdistrictname (c.district,2)=@cityname then 1 else 0 end desc,a.valid_dt desc

	return (@ret)
   
end

