alter function [dbo].[fn_getmedpricerecid1](@materialcode varchar(20),@channelcode int,@channeldtlcode int,@provcode varchar(20),@citycode varchar(20),@dt datetime)
/* 设置药品考核价 tb_medprice.rec_id       tb_medprice.type_id=2 */
returns int
as
begin

	declare @ret int

select top 1 @ret = rec_id  --channel_id,channel_dtl_id,district_id,m.material_code1,rec_id=max(rec_id) 
		from tb_medprice a,tb_medicine m 
		where a.type_id=2 and a.med_id=m.med_id 
		and m.material_code1=(select top 1 material_code1 from tb_medicine where material_code=@materialcode)
	and (a.channel_id=@channelcode and a.channel_dtl_id=@channeldtlcode)
	and (a.district_id=@provcode or a.district_id=@citycode or @citycode like cast(a.district_id as varchar(6))+'%' or isnull(a.district_id,0)=0)
	and a.valid_from<=@dt
--	order by case when a.district_id=@citycode then 1 else 2 end,a.valid_from desc,rec_id desc
	order by case when a.district_id=@citycode then 1 when a.district_id=@provcode then 2 when @citycode like cast(a.district_id as varchar(6))+'%' then 3 else 4 end,a.valid_from desc,rec_id desc

	return (@ret)

end