ALTER function [dbo].[fn_getbusiframe3recid](@channelcode int,@channeldtlcode int,@mateid int,@agentid int,@materialcode varchar(20),@price decimal(15,4),@price1 decimal(15,4),@dt datetime)
--ALTER function [dbo].[fn_getbusiframe3recid](@channelcode int,@channeldtlcode int,@mateid int,@agentid int,@materialcode varchar(20),@dt datetime)
/*
入参: 渠道+子渠道+商业公司+业务负责人+品规关联编码+销售单价+考核单价+启用日期
*/
returns int
as
begin

	declare @ret int
/*
	select top 1 @ret=rec_id from tb_busiframe3 a 
	inner join tb_busimate c on a.mate_id=c.mate_id
	inner join tb_medicine m on a.med_id=m.med_id 
	where (m.material_code=@materialcode or m.material_code1=@materialcode) 
		and a.channel_id=@channelid and a.channel_dtl_id=@channeldtlid
		and (dbo.fn_getdistrictname (c.district,1)=@provname or dbo.fn_getdistrictname (c.district,2)=@cityname)
	and a.valid_dt<=@dt
	order by case when dbo.fn_getdistrictname (c.district,2)=@cityname then 1 else 0 end desc,a.valid_dt desc

	select top 1 @ret=rec_id from tb_busiframe3 a 
	inner join tb_busimate c on a.mate_id=c.mate_id
	inner join tb_medicine m on a.med_id=m.med_id 
	where (m.material_code=@materialcode or m.material_code1=@materialcode) 
		and a.channel_id=@channelcode and a.channel_dtl_id=@channeldtlcode
		--and (dbo.fn_getdistrictname (c.district,1)=@provname or dbo.fn_getdistrictname (c.district,2)=@cityname)
	and a.valid_dt<=@dt
	order by a.valid_dt desc,rec_id desc
	select top 1 @ret=rec_id from tb_busiframe3 a 
	inner join tb_busimate c on a.mate_id=c.mate_id
	inner join (select med_id from tb_medicine m inner join (select top 1 material_code1 from tb_medicine where material_code=@materialcode) n on m.material_code1=n.material_code1) m on a.med_id=m.med_id
	where a.channel_id=@channelcode and a.channel_dtl_id=@channeldtlcode
		--and (dbo.fn_getdistrictname (c.district,1)=@provname or dbo.fn_getdistrictname (c.district,2)=@cityname)
	and a.valid_dt<=@dt
	order by a.valid_dt desc,rec_id desc

--	select * from tb_busiframe3 a 
	select top 1 @ret=rec_id from tb_busiframe3 a 
	inner join tb_busimate c on a.mate_id=c.mate_id
--	inner join (select med_id from tb_medicine m inner join (select top 1 material_code1 from tb_medicine where material_code=@materialcode) n on m.material_code1=n.material_code1) m on a.med_id=m.med_id
	inner join (select med_id from tb_medicine m inner join (select top 1 material_code1 from tb_medicine where material_code=@materialcode) n on m.material_code1=n.material_code1) m on a.med_id=m.med_id
	where a.channel_id=@channelcode and a.channel_dtl_id=@channeldtlcode
		and a.med_id in (select med_id from tb_medicine where material_code1=(select top 1 material_code1 from tb_medicine where material_code=@materialcode))
		--and (dbo.fn_getdistrictname (c.district,1)=@provname or dbo.fn_getdistrictname (c.district,2)=@cityname)
	and a.valid_dt<=@dt
	order by a.valid_dt desc,rec_id desc
*/

	select top 1 @ret=rec_id from tb_busiframe3 a 
	inner join tb_busimate c on a.mate_id=c.mate_id
	inner join (select med_id from tb_medicine m inner join (select top 1 material_code1 from tb_medicine where material_code=@materialcode) n on m.material_code1=n.material_code1) m on a.med_id=m.med_id
	where a.valid=1 
		and a.channel_id=@channelcode and a.channel_dtl_id=@channeldtlcode
		and a.mate_id=@mateid
		and a.agent_id=@agentid
		and a.med_id in (select med_id from tb_medicine where material_code1=(select top 1 material_code1 from tb_medicine where material_code=@materialcode))
		--and (dbo.fn_getdistrictname (c.district,1)=@provname or dbo.fn_getdistrictname (c.district,2)=@cityname)

		and a.price1=@price
		and a.price2=@price1

		and a.valid_dt<=@dt

	order by a.valid_dt desc,rec_id desc

	return (@ret)
   
end

