alter function [dbo].[fn_getlevelmatename] (@materialcode varchar(20),@districtcode varchar(10),@levelid tinyint,@dt datetime)
returns varchar(100)
/*
取得该笔销售的1级经销商
*/
AS
BEGIN
--	set @districtcode='44'
	declare @ret varchar(100)

	select top 1 @ret=b.mate_name
	from tb_sysrule a	
	inner join tb_busimate b on a.mate_id=b.mate_id	
	inner join tb_medicine m on a.med_id=m.med_id	
--	where a.type_id=2 and a.lead_id=@levelid and (m.material_code1=@materialcode) and @districtcode like str(b.district)+'%' and a.valid_dt<=@dt
	where a.type_id=2 and a.level_id=@levelid and m.material_code1=@materialcode 
	and @districtcode like ltrim(str(b.district))+'%'
	and a.valid_dt<=@dt
	order by case when b.district=@districtcode then 1 else 0 end desc,a.valid_dt desc

	return (@ret)
END


