ALTER function [dbo].[fn_getSAP_ZSD_BUSrecid](@channelcode int,@channeldtlcode int,@districtid int,@matecode varchar(10),@materialcode varchar(20),@dt datetime)
/*
设置业务结构 SAP_ZSD_BUS.recid
入参: 渠道+子渠道+地区+品规关联编码+启用日期
用于商业销售综合查询 等
*/
returns int
as
begin

	declare @ret int

--	select top 10 * from SAP_ZSD_BUS

	if @channeldtlcode=10 set @channeldtlcode=11  -- 流向子渠道录入为10时，应识别业务架构中子渠道为：RX分销（11）的架构

select top 1 @ret=rec_id
	from SAP_ZSD_BUS
	where VTWEG=@channelcode and KDGRP=@channeldtlcode
		--and med_id=@medid 
		and MATNR=(select material_code1 from tb_medicine where material_code=@materialcode)
		and (ZREGIO=@districtid or ZCITYNUM=@districtid or ZCNTYNUM=@districtid)
		and (KUNNR='' or KUNNR=@matecode)
		and DATE_FROM<=@dt
		--and (district_id=@districtid or @districtid like cast(district_id as varchar(6))+'%')
--	order by case when ZCNTYNUM=@districtid then 1 when ZCITYNUM=@districtid then 2 else 3 end,DATE_FROM desc,rec_id desc
	order by case when KUNNR=@matecode then 1 else 2 end,case when ZCNTYNUM=@districtid then 1 when ZCITYNUM=@districtid then 2 else 3 end,DATE_FROM desc,rec_id desc

	return (@ret)
   
end

