ALTER function [dbo].[fn_getrate2](@channel_id int,@channel_dtl_id int,@districtid int,@medid int,@dt smalldatetime)
returns decimal (10,2)
/* 取得业务员费用规则—规则表标准政策

标准政策 取自 设置学术标准政策
*/
as
begin

declare @ret decimal(10,2)

select top 1 @ret=case when isnull(price1,0)=0 then 0.00 else 100*price/price1 end
	from tb_medprice 
	where type_id=3 and channel_id=@channel_id and channel_dtl_id=@channel_dtl_id and med_id=@medid and valid_from<=@dt
		and (district_id=@districtid or @districtid like cast(district_id as varchar(6))+'%')
		--and @districtid like cast(district_id as varchar(6))+'%'
	order by case when district_id=@districtid then 1 else 2 end,valid_from desc,rec_id desc

return (@ret)

end

