ALTER function [dbo].[fn_getprice1](@districtid int,@medid int,@dt datetime)
/*设置药品中标价*/
returns decimal (10,4)
as
begin

declare @ret decimal(10,4)
/*
select top 1 @ret=price from tb_medprice where type_id=1 
	and district_id=@districtid
	and MATNR=(select top 1 material_code1 from tb_medicine where med_id=211)
	and valid_from<=@dt and valid_to>=@dt
	order by rec_id desc
*/

/*
select top 1 @ret=price from tb_medprice 
	where type_id=1 
		and MATNR=(select top 1 material_code1 from tb_medicine where med_id=@medid)
		and (zregio=@districtid or zcitynum=@districtid)
		and valid_from<=@dt --and valid_to>=@dt
	order by valid_from desc
*/
select top 1 @ret=price from tb_medprice 
	where type_id=1 
		and MATNR=(select top 1 material_code1 from tb_medicine where med_id=@medid)
		and (zregio=@districtid or zcitynum=@districtid
			or exists (select 1 from tb_district d where city_code=@districtid and prov_code=zregio))
		and valid_from<=@dt 
	order by case when zcitynum=@districtid then 1 when zregio=@districtid then 2 else 3 end,valid_from desc,rec_id desc --  zregio,zcitynum

return (isnull(@ret,0))

end