ALTER procedure [dbo].[sp_qryreport24b] (@compid tinyint,@agentid int,@f1 bit,@dt1 datetime,@dt2 datetime)
as
/*
分销客户对账表
@f1 包含未回款
sp_qryreport24b 1,0,1,'2025-03-01','2025-07-24'
*/

set nocount on

declare @bal decimal(15,2)

set @dt2=DATEADD(day,1,@dt2)

if exists (select 1 from tempdb..sysobjects where id=object_id('tempdb..#tmp'))
  drop table #tmp

	select *
	into #tmp
	from 
	( 
  		select a.bod_id,a.carry_dt,a.bod_cd,a.bod_type_id,a.dst_id,a.agent_id,a.bod_desc,b.med_id,b.qty,amot1a=c.amot,
			amot=cast((isnull(c.amot,0)+isnull(c.fee,0))*b.qty as decimal(15,2)),
			rec_amot=cast(0 as decimal(15,2)),
			pay_amot=cast(0 as decimal(15,2))
			from tb_bill a 
			inner join tb_bill_dtl b on a.bod_id=b.bod_id 
			--left join tb_busimate e on a.dst_id=e.mate_id
			left join tb_bill_stadtl h on b.dtl_id=h.dtl_id and h.agent_id>0 
			left join (select c.rec_id,c.type_id,c.type_id2,agent_id=case when d.agent_id>0 then d.agent_id else c.agent_id end,
	 			c.rate,c.rate1,fee=case when d.fee>0 then d.fee else c.fee end,amot=case when d.amot>=0 then d.amot else c.amot end,c.price1,c.price2 
				from tb_busiframe3 c left join tb_busiframe3_dtl d on c.rec_id=d.rela_id) c on c.rec_id=b.bf3_id and c.agent_id=case when h.agent_id>0 then h.agent_id else a.agent_id end 
				where a.bod_type_id=1 and a.bod_status_id=1 and a.cate_id=2
				  --and a.carry_dt>='2020-01-01' and a.carry_dt< dateadd(day,1,'2020-07-31')
                  and a.carry_dt<@dt2
				  --and a.comp_id=@compid
				  and (@agentid=0 or a.agent_id=@agentid)
				  and (b.price=c.price2 and b.price1=c.price1 or b.price1>b.price)

		 union all 
  		 select bod_id=a.rec_id,a.carry_dt,bod_cd=GBELN,bod_type_id=1,dst_id=b.mate_id,agent_id=c.mate_id,bod_desc='',m.med_id,a.qty,amot1a=cast(i.amot as decimal(15,4)),
--			amot=cast(a.qty*cast(ZPR03 as decimal(15,4)) as decimal(15,2)),
			amot=cast(case when cast(a.KONV as decimal(15,4))=0 then 0 else a.amot1/cast(a.KONV as decimal(15,4))*i.amot end as decimal(15,2)),  -- 回款应付金额=已收款数量*应付金额/盒
--			amot=case when cast(a.KONV as decimal(15,4))=0 then 0 else cast(a.amot1 as decimal(15,2))/cast(a.KONV as decimal(15,4))*cast(i.amot as decimal(15,4)) end,  -- 回款应付金额=已收款数量*应付金额/盒
			-- price1=cast(a.KONV as decimal(15,4))销售单价    cast(a.amot1 as decimal(15,2))/cast(a.KONV as decimal(15,4)) --已收款数量      
			rec_amot=cast(0 as decimal(15,2)),
			pay_amot=cast(0 as decimal(15,2))
		  from SAP_ZSD_015 a 
		  left join (select mate_id,mate_code,mate_name from tb_busimate where mate_type_id=2) b on a.NAME1=b.mate_name 
		  inner join (select mate_id,mate_code,mate_name,district from tb_busimate where mate_type_id=4) c on c.mate_code=a.ASSIGNED_BP 
		  left join tb_medicine m on a.MATNR=m.material_code
--		  left join (select b.med_id,amot=sum(cast(b.amot as decimal(15,2))) from tb_bill a,tb_bill_dtl b where a.bod_type_id=37 and a.bod_id=b.bod_id group by b.med_id) d on d.med_id=a.rec_id 
--		  left join (select b.med_id,amot=sum(cast(b.amot as decimal(15,2))) from tb_bill a,tb_bill_dtl b where a.bod_type_id=37 and a.bod_status_id=1 and a.bod_id=b.bod_id and b.type_id=0 group by b.med_id) e on e.med_id=a.rec_id 
		  left join (select c.rec_id,c.type_id,c.rate,c.rate1,c.price1,c.price2,c.type_id2,agent_id1=c.agent_id,d.agent_id,d.amot,d.fee,agent_code=e.mate_code,agent=e.mate_name   from tb_busiframe3 c left join tb_busiframe3_dtl d on c.rec_id=d.rela_id left join tb_busimate e on d.agent_id=e.mate_id) i  on i.rec_id=dbo.fn_getbusiframe3recid(a.VTWEG,a.KDGRP,b.mate_id,c.mate_id,a.MATNR,cast(a.KONV as decimal(15,4)),cast(ZPR03 as decimal(15,4)),a.carry_dt) 
		  where KDGRP not in ('10','19')  
			and a.carry_dt<@dt2
			and (@agentid=0 or c.mate_id=@agentid)
			and (a.price>cast(ZPR03 as decimal(15,4)) or a.price=cast(ZPR03 as decimal(15,4)) and i.rec_id>0)  
/*
  select a.rec_id,dtl_id=0,bod_id=0,a.carry_dt,bod_type_id=0,bod_type='分销采购',bod_cd=GBELN,bod_cd1=VBELN,bod_cd2='',bod_cd3=GBELN,bod_desc='',bod_desc1='',  broker_id=cast(ZSALESID_O as int),broker=ZSALESNAM_O,agent_code=a.ASSIGNED_BP,agent=case when i.rec_id>0 then i.agent else a.NAME_FIRST end,agent_id=c.mate_id,a.ASSIGNED_BP, agent1=case when i.rec_id>0 then dbo.fn_mate_name(i.agent_id1) else a.NAME_FIRST end,stoppay=cast(0 as bit), a.VTEXT,a.ZKDGRP,dist1=ZZREGION, dist2=ZCITYNAME, level1=ZBEZEI, creater=ZTERNAM,dst_id=b.mate_id,mate_name=NAME1,b.mate_id,BSTKD,material_code=a.MATNR,med_code='',med_name=ARKTX,specifi=ZGG,pdt_place=ZSCQY,med_unit='',type_id1=0,bat_cd=CHARG, 
  a.ckd_amot,ckd_amot1=e.amot,a.ckd_amot2,ckd_amot2a=d.amot,a.ckd_amot3, a.qty,price=cast(ZPR03 as decimal(15,4)),amot=cast(a.qty*cast(ZPR03 as decimal(15,4)) as decimal(15,2)),amot1=cast(a.amot1 as decimal(15,2)),amot2=cast(a.amot2 as decimal(15,2)),price1=cast(a.KONV as decimal(15,4)), price10=dbo.fn_getprice1a(ZREGIO,ZCITYNUM,a.MATNR,a.carry_dt), 
  i.type_id,i.type_id2,i.rate,i.rate1,fee=cast(i.fee as decimal(15,4)),amot1a=cast(i.amot as decimal(15,4)),cprice1=i.price1,cprice2=i.price2,fee_type_id=0, not_amot=cast((isnull(i.amot,0)+isnull(i.fee,0))*a.qty-isnull(a.ckd_amot,0) as decimal(15,2))
  from SAP_ZSD_015 a 
  left join (select mate_id,mate_code,mate_name from tb_busimate where mate_type_id=2) b on a.NAME1=b.mate_name 
  left join (select mate_id,mate_code,mate_name,district from tb_busimate where mate_type_id=4) c on c.mate_code=a.ASSIGNED_BP 
  left join (select b.med_id,amot=sum(cast(b.amot as decimal(15,2))) from tb_bill a,tb_bill_dtl b where a.bod_type_id=37 and a.bod_id=b.bod_id group by b.med_id) d on d.med_id=a.rec_id 
  left join (select b.med_id,amot=sum(cast(b.amot as decimal(15,2))) from tb_bill a,tb_bill_dtl b where a.bod_type_id=37 and a.bod_status_id=1 and a.bod_id=b.bod_id and b.type_id=0 group by b.med_id) e on e.med_id=a.rec_id 
  left join (select c.rec_id,c.type_id,c.rate,c.rate1,c.price1,c.price2,c.type_id2,agent_id1=c.agent_id,d.agent_id,d.amot,d.fee,agent_code=e.mate_code,agent=e.mate_name   from tb_busiframe3 c left join tb_busiframe3_dtl d on c.rec_id=d.rela_id left join tb_busimate e on d.agent_id=e.mate_id) i  on i.rec_id=dbo.fn_getbusiframe3recid(a.VTWEG,a.KDGRP,b.mate_id,c.mate_id,a.MATNR,cast(a.KONV as decimal(15,4)),cast(ZPR03 as decimal(15,4)),a.carry_dt) 
  where KDGRP not in ('10','19')  
  and (a.price>cast(ZPR03 as decimal(15,4)) or a.price=cast(ZPR03 as decimal(15,4)) and i.rec_id>0)  
  and a.carry_dt>='2025-07-01' and a.carry_dt< dateadd(day,1,'2025-07-24') 
*/
		 union all 
		 select a.bod_id,a.carry_dt,a.bod_cd,a.bod_type_id,a.dst_id,a.agent_id,a.bod_desc,a.med_id,qty=0,amot1a=0,
		    amot=0,
		    rec_amot=cast(a.bod_amot as decimal(15,2)),
			pay_amot=cast(0 as decimal(15,2))
		  from tb_bill a
		 where a.bod_type_id=36 and a.bod_status_id=1
			and a.carry_dt<@dt2
			--and a.comp_id=@compid
	        and (@agentid=0 or a.agent_id=@agentid)

		union all 
		 select a.bod_id,a.carry_dt,a.bod_cd,a.bod_type_id,a.dst_id,e.agent_id,a.bod_desc,med_id=0,b.qty,amot1a=0,
		    amot=0,
			rec_amot=cast(0 as decimal(15,2)),
			pay_amot=cast(d.amot as decimal(15,2))
		  from tb_bill a
			inner join tb_bill_dtl b on a.bod_id=b.bod_id
			inner join tb_bill_dtl d on b.med_id=d.bod_id
			inner join tb_bill e on b.med_id=e.bod_id
			left join (select b.bod_id,b.dtl_id,b.amot,c.med_id from tb_bill_dtl b,vi_bodstadtlmed1 c
		  		where b.bod_id=c.bod_id and (b.type_id=36 and b.med_id=c.bod_id1 or b.type_id=1 and b.med_id=c.rec_id) ) c
				on c.bod_id=d.bod_id and c.dtl_id=d.dtl_id
		 where a.bod_type_id=30 and a.bod_status_id=1
			and a.carry_dt<@dt2
			--and a.comp_id=@compid
	        and (@agentid=0 or e.agent_id=@agentid)
/*
		 union all   -- 2022.1.1 期初
		 select carry_dt=null,a.agent_id,a.med_id,amot=a.bal0,rec_amot=0.00,pay_amot=0.00  --e.district,
		  from tb_medbal1 a
		 where (@medid=0 or a.med_id=@medid)
*/

	) a 

if exists (select 1 from tempdb..sysobjects where id=object_id('tempdb..#tmp1'))
  drop table #tmp1

select dtl_id=0,bod_id=null,carry_dt=null,bod_cd=null,bod_type_id=0,dst_id=null,agent_id=@agentid,bod_desc=null,med_id=null,qty=null,amot1a=null,amot=null,rec_amot=null,pay_amot=null
  ,bal=sum(cast(isnull(amot,0)+isnull(rec_amot,0)-isnull(pay_amot,0) as decimal(15,2)))
  into #tmp1
  from #tmp where carry_dt< @dt1 --and (agent_id=@agentid or @agentid=0)
union all
select dtl_id=cast(ROW_NUMBER() OVER(ORDER BY carry_dt) as int),*,bal=0
	from #tmp
	where carry_dt>=@dt1 --and (agent_id=@agentid or @agentid=0)

update a
 set bal=c.bal   
 from #tmp1 a,
 (select b.dtl_id,bal = sum(isnull(a.amot,0)+isnull(a.rec_amot,0)-isnull(a.pay_amot,0)) from #tmp1 a,#tmp1 b where a.dtl_id<=b.dtl_id group by b.dtl_id) c
 where a.dtl_id=c.dtl_id

select a.*
	,agent=d.mate_name,c.mate_name,m.material_code,m.med_code,m.med_name,m.specifi,m.pdt_place,med_unit=dbo.fn_obj_desc(m.unit_id)
from #tmp1 a
	left join tb_busimate c on a.dst_id=c.mate_id
	left join tb_busimate d on a.agent_id=d.mate_id
	left join tb_medicine m on a.med_id=m.med_id

return