ALTER procedure [dbo].[sp_qryreport24b] (@compid tinyint,@agentid int,@f1 bit,@dt1 datetime,@dt2 datetime)
as
/*
分销客户对账表
@f1 包含未回款
sp_qryreport24i 1,0,0,'2022-01-01','2022-01-01'
*/

set nocount on

declare @bal decimal(15,2)

set @dt2=DATEADD(day,1,@dt2)

if exists (select 1 from tempdb..sysobjects where id=object_id('tempdb..#tmp'))
  drop table #tmp
/*
  select med_id=isnull(a.med_id,0),--a.district,
		 bal0=sum(case when a.carry_dt< @dt1 or carry_dt is null then cast(isnull(amot,0)+isnull(rec_amot,0)-isnull(pay_amot,0) as decimal(15,2)) end),
		 amot=sum(case when a.carry_dt>=@dt1 then cast(isnull(amot,0) as decimal(15,2)) end),
		 rec_amot=sum(case when a.carry_dt>=@dt1 then cast(isnull(rec_amot,0) as decimal(15,2)) end),
		 pay_amot=sum(case when a.carry_dt>=@dt1 then cast(isnull(pay_amot,0) as decimal(15,2)) end)
*/
	select *
	into #tmp
	from 
	( 
  		select a.bod_id,a.carry_dt,a.bod_cd,a.bod_type_id,a.dst_id,a.agent_id,a.bod_desc,b.med_id,b.qty,amot1a=c.amot,
			amot=cast((isnull(c.amot,0)+isnull(c.fee,0))*b.qty as decimal(15,2)),
			rec_amot=cast(0 as decimal(15,2)),
			pay_amot=cast(0 as decimal(15,2))
			from tb_bill a 
			inner join tb_bill_dtl b on a.bod_id=b.bod_id 
			--left join tb_busimate e on a.dst_id=e.mate_id
			left join tb_bill_stadtl h on b.dtl_id=h.dtl_id and h.agent_id>0 
			left join (select c.rec_id,c.type_id,c.type_id2,agent_id=case when d.agent_id>0 then d.agent_id else c.agent_id end,
	 			c.rate,c.rate1,fee=case when d.fee>0 then d.fee else c.fee end,amot=case when d.amot>=0 then d.amot else c.amot end,c.price1,c.price2 
				from tb_busiframe3 c left join tb_busiframe3_dtl d on c.rec_id=d.rela_id) c on c.rec_id=b.bf3_id and c.agent_id=case when h.agent_id>0 then h.agent_id else a.agent_id end 
				where a.bod_type_id=1 and a.bod_status_id=1 and a.cate_id=2
				  --and a.carry_dt>='2020-01-01' and a.carry_dt< dateadd(day,1,'2020-07-31')
                  and a.carry_dt<@dt2
				  and a.comp_id=@compid
				  and (@agentid=0 or a.agent_id=@agentid)
				  and (b.price=c.price2 and b.price1=c.price1 or b.price1>b.price)


		 union all 
		 select a.bod_id,a.carry_dt,a.bod_cd,a.bod_type_id,a.dst_id,a.agent_id,a.bod_desc,a.med_id,qty=0,amot1a=0,
		    amot=0,
		    rec_amot=cast(a.bod_amot as decimal(15,2)),
			pay_amot=cast(0 as decimal(15,2))
		  from tb_bill a
		 where a.bod_type_id=36 and a.bod_status_id=1
			and a.carry_dt<@dt2
			and a.comp_id=@compid
	        and (@agentid=0 or a.agent_id=@agentid)

		union all 
		 select a.bod_id,a.carry_dt,a.bod_cd,a.bod_type_id,a.dst_id,a.agent_id,a.bod_desc,med_id=0,b.qty,amot1a=0,
		    amot=0,
			rec_amot=cast(0 as decimal(15,2)),
			pay_amot=cast(d.amot as decimal(15,2))
		  from tb_bill a
			inner join tb_bill_dtl b on a.bod_id=b.bod_id
			inner join tb_bill_dtl d on b.med_id=d.bod_id
--			left join vi_bodstadtlmed c on b.bod_id=c.bod_id and (b.type_id=36 and b.med_id=c.bod_id1 or b.type_id=1 and b.med_id=c.rec_id) 
			left join (select b.bod_id,b.dtl_id,b.amot,c.med_id from tb_bill_dtl b,vi_bodstadtlmed1 c
		  		where b.bod_id=c.bod_id and (b.type_id=36 and b.med_id=c.bod_id1 or b.type_id=1 and b.med_id=c.rec_id) ) c
				on c.bod_id=d.bod_id and c.dtl_id=d.dtl_id
		 where a.bod_type_id=30 and a.bod_status_id=1
			and a.carry_dt<@dt2
			and a.comp_id=@compid
	        and (@agentid=0 or a.agent_id=@agentid)
/*
		 union all   -- 2022.1.1 期初
		 select carry_dt=null,a.agent_id,a.med_id,amot=a.bal0,rec_amot=0.00,pay_amot=0.00  --e.district,
		  from tb_medbal1 a
		 where (@medid=0 or a.med_id=@medid)
*/

	) a 
/*
select @bal=sum(cast(isnull(amot,0)+isnull(rec_amot,0)-isnull(pay_amot,0) as decimal(15,2)))
	from #tmp
	where carry_dt< @dt1
*/
if exists (select 1 from tempdb..sysobjects where id=object_id('tempdb..#tmp1'))
  drop table #tmp1

select dtl_id=0,bod_id=null,carry_dt=null,bod_cd=null,bod_type_id=0,dst_id=null,agent_id=null,bod_desc=null,med_id=null,qty=null,amot1a=null,amot=null,rec_amot=null,pay_amot=null
  ,bal=sum(cast(isnull(amot,0)+isnull(rec_amot,0)-isnull(pay_amot,0) as decimal(15,2)))
  ,agent=null,mate_name=null,med_code=null,med_name=null,specifi=null,pdt_place=null,med_unit=null
  into #tmp1
  from #tmp where carry_dt< @dt1
union all
select dtl_id=cast(ROW_NUMBER() OVER(ORDER BY carry_dt) as int),a.*,bal=0
	,agent=d.mate_name,c.mate_name,m.med_code,m.med_name,m.specifi,m.pdt_place,med_unit=dbo.fn_obj_desc(m.unit_id)
	from #tmp a
	left join tb_busimate c on a.dst_id=c.mate_id
	left join tb_busimate d on a.agent_id=d.mate_id
	left join tb_medicine m on a.med_id=m.med_id
	where carry_dt>=@dt1

update a
 set bal=c.bal   
 from #tmp1 a,
 (select b.dtl_id,bal = sum(isnull(a.amot,0)+isnull(a.rec_amot,0)-isnull(a.pay_amot,0)) from #tmp1 a,#tmp1 b where a.dtl_id<=b.dtl_id group by b.dtl_id) c
 where a.dtl_id=c.dtl_id

select * from #tmp1

return