ALTER procedure [dbo].[sp_qryreport24i] (@compid tinyint,@medid int,@f1 bit,@dt1 datetime,@dt2 datetime)  --@distid int,
as
/*
分销返款汇总表(品种汇总)
sp_qryreport24i 1,0,0,'2022-01-01','2022-01-01'
*/

set nocount on

set @dt2=DATEADD(day,1,@dt2)

if exists (select 1 from tempdb..sysobjects where id=object_id('tempdb..#tmp'))
  drop table #tmp

  select med_id=isnull(a.med_id,0),--a.district,
		 bal0=sum(case when a.carry_dt< @dt1 or carry_dt is null then cast(isnull(amot,0)+isnull(rec_amot,0)-isnull(pay_amot,0) as decimal(15,2)) end),
		 amot=sum(case when a.carry_dt>=@dt1 then cast(isnull(amot,0) as decimal(15,2)) end),
		 rec_amot=sum(case when a.carry_dt>=@dt1 then cast(isnull(rec_amot,0) as decimal(15,2)) end),
		 pay_amot=sum(case when a.carry_dt>=@dt1 then cast(isnull(pay_amot,0) as decimal(15,2)) end)
	into #tmp
	from 
	( 
  		select a.carry_dt,b.med_id,amot=(isnull(c.amot,0)+isnull(c.fee,0))*b.qty,rec_amot=0,pay_amot=0  --e.district,
			from tb_bill a 
			inner join tb_bill_dtl b on a.bod_id=b.bod_id 
			--left join tb_busimate e on a.dst_id=e.mate_id
			left join tb_bill_stadtl h on b.dtl_id=h.dtl_id and h.agent_id>0 
			left join (select c.rec_id,c.type_id,c.type_id2,agent_id=case when d.agent_id>0 then d.agent_id else c.agent_id end,
	 			c.rate,c.rate1,fee=case when d.fee>0 then d.fee else c.fee end,amot=case when d.amot>=0 then d.amot else c.amot end,c.price1,c.price2 
				from tb_busiframe3 c left join tb_busiframe3_dtl d on c.rec_id=d.rela_id) c on c.rec_id=b.bf3_id and c.agent_id=case when h.agent_id>0 then h.agent_id else a.agent_id end 
				where a.bod_type_id=1 and a.bod_status_id=1 and a.cate_id=2
				  --and a.carry_dt>='2020-01-01' and a.carry_dt< dateadd(day,1,'2020-07-31')
                  and a.carry_dt<@dt2
				  and a.comp_id=@compid
				  and (b.price=c.price2 and b.price1=c.price1 or b.price1>b.price)


		 union all 
		 select a.carry_dt,a.med_id,amot=0,rec_amot=a.bod_amot,pay_amot=0  --e.district,
		  from tb_bill a
		 where a.bod_type_id=36 and a.bod_status_id=1
			and a.carry_dt<@dt2
			and a.comp_id=@compid
			and (@medid=0 or a.med_id=@medid)

		union all 
		 select a.carry_dt,c.med_id,amot=0,rec_amot=0,pay_amot=d.amot
		  from tb_bill a
			inner join tb_bill_dtl b on a.bod_id=b.bod_id
			inner join tb_bill_dtl d on b.med_id=d.bod_id
--			left join vi_bodstadtlmed c on b.bod_id=c.bod_id and (b.type_id=36 and b.med_id=c.bod_id1 or b.type_id=1 and b.med_id=c.rec_id) 
			left join (select b.bod_id,b.dtl_id,b.amot,c.med_id from tb_bill_dtl b,vi_bodstadtlmed1 c
		  		where b.bod_id=c.bod_id and (b.type_id=36 and b.med_id=c.bod_id1 or b.type_id=1 and b.med_id=c.rec_id) ) c
				on c.bod_id=d.bod_id and c.dtl_id=d.dtl_id
		 where a.bod_type_id=30 and a.bod_status_id=1
			and a.carry_dt<@dt2
			and a.comp_id=@compid
			and (@medid=0 or d.med_id=@medid)

		 union all   -- 2022.1.1 期初
		 select carry_dt=null,a.med_id,amot=a.bal0,rec_amot=0.00,pay_amot=0.00  --e.district,
		  from tb_medbal1 a
		 where (@medid=0 or a.med_id=@medid)

	) a 
	group by isnull(a.med_id,0)

  select h.med_id,m.med_code,m.material_code,med_name=case when isnull(h.med_id,0)=0 then '未关联品种' else m.med_name end,
    m.specifi,m.pdt_place,med_unit='',m.type_id1,--h.district,cdistrict=dbo.fn_getdistrict(h.district),
	h.*
   from #tmp h 
	left join tb_medicine m on h.med_id=m.med_id  -- 需包含无品种记录
   where @f1=1 or @f1=0 and isnull(bal0,0)+isnull(amot,0)+isnull(rec_amot,0)-isnull(pay_amot,0)<>0
	order by m.material_code,m.med_name,m.specifi,m.pdt_place  --dbo.fn_getdistrict(h.district),

return