ALTER procedure [dbo].[sp_qryreport24h] (@compid tinyint,@distid int,@agentid int,@f1 bit,@dt1 datetime,@dt2 datetime)
as
/*
分销返款汇总表(代理人汇总)

sp_qryreport24h 1,0,17823,0,'2025-01-01','2025-07-29'
*/

set nocount on

set @dt2=DATEADD(day,1,@dt2)

if exists (select 1 from tempdb..sysobjects where id=object_id('tempdb..#tmp'))
  drop table #tmp

  select a.agent_id,--a.district,
		 bal0=sum(case when a.carry_dt< @dt1 or a.carry_dt is null then cast(isnull(amot,0)+isnull(rec_amot,0)-isnull(pay_amot,0) as decimal(15,2)) end),
		 amot=sum(case when a.carry_dt>=@dt1 then cast(isnull(amot,0) as decimal(15,2)) end),
		 rec_amot=sum(case when a.carry_dt>=@dt1 then cast(isnull(rec_amot,0) as decimal(15,2)) end),
		 pay_amot=sum(case when a.carry_dt>=@dt1 then cast(isnull(pay_amot,0) as decimal(15,2)) end)
   into #tmp
   from 
  ( 
  /*
  		select a.carry_dt,a.agent_id,amot=(isnull(c.amot,0)+isnull(c.fee,0))*b.qty,rec_amot=0,pay_amot=0  --e.district,
			from tb_bill a 
			inner join tb_bill_dtl b on a.bod_id=b.bod_id 
			--left join tb_busimate e on a.dst_id=e.mate_id
			left join tb_bill_stadtl h on b.dtl_id=h.dtl_id and h.agent_id>0 
			left join (select c.rec_id,c.type_id,c.type_id2,agent_id=case when d.agent_id>0 then d.agent_id else c.agent_id end,
	 			c.rate,c.rate1,fee=case when d.fee>0 then d.fee else c.fee end,amot=case when d.amot>=0 then d.amot else c.amot end,c.price1,c.price2 
				from tb_busiframe3 c left join tb_busiframe3_dtl d on c.rec_id=d.rela_id) c on c.rec_id=b.bf3_id and c.agent_id=case when h.agent_id>0 then h.agent_id else a.agent_id end 
				where a.bod_type_id=1 and a.bod_status_id=1 and a.cate_id=2
                  and a.carry_dt<@dt2
				  and a.comp_id=@compid
				  and (b.price=c.price2 and b.price1=c.price1 or b.price1>b.price)
  */
--  		select a.carry_dt,a.agent_id,amot=(isnull(i.amot,0)+isnull(c.fee,0))*b.qty,rec_amot=0,pay_amot=0
  		select a.carry_dt,i.agent_id,-- agent_id=c.mate_id, amot=isnull(i.amot,0)*a.qty,
			--amot=cast(case when cast(a.KONV as decimal(15,4))=0 then 0 else a.amot1/cast(a.KONV as decimal(15,4))*i.amot end as decimal(15,2)),
			amot=cast(case when cast(a.KONV as decimal(15,4))=0 then 0 else cast(a.amot1/cast(a.KONV as decimal(15,4)) as decimal(15,2))*i.amot end as decimal(15,2)),
			rec_amot=0,pay_amot=0
			from SAP_ZSD_015 a
			left join (select mate_id,mate_code,mate_name from tb_busimate where mate_type_id=2) b on a.NAME1=b.mate_name
			left join (select mate_id,mate_code,mate_name,district from tb_busimate where mate_type_id=4) c on c.mate_code=a.ASSIGNED_BP
			left join (select c.rec_id,c.type_id,c.rate,c.rate1,c.price1,c.price2,c.type_id2,agent_id1=c.agent_id,d.agent_id,d.amot,d.fee from tb_busiframe3 c left join tb_busiframe3_dtl d on c.rec_id=d.rela_id) i
				on i.rec_id=dbo.fn_getbusiframe3recid(a.VTWEG,a.KDGRP,b.mate_id,c.mate_id,a.MATNR,cast(a.KONV as decimal(15,4)),cast(ZPR03 as decimal(15,4)),a.carry_dt)
		where KDGRP not in ('10','19')
			and (a.price>cast(ZPR03 as decimal(15,4)) or a.price=cast(ZPR03 as decimal(15,4)) and i.rec_id>0)
            and a.carry_dt<@dt2

		union all 
		select a.carry_dt,a.agent_id,amot=0,rec_amot=a.bod_amot,pay_amot=0
		  from tb_bill a
			--left join tb_busimate e on a.dst_id=e.mate_id
		 where a.bod_type_id=36 and a.bod_status_id=1
			and a.carry_dt<@dt2

		union all 
		 select a.carry_dt,c.agent_id,amot=0,rec_amot=0,pay_amot=b.amot
		  from tb_bill a
			inner join tb_bill_dtl b on a.bod_id=b.bod_id
			inner join tb_bill c on b.med_id=c.bod_id
		 where a.bod_type_id=30 and a.bod_status_id=1
			and a.carry_dt<@dt2
/*
		union all    -- 2022.1.1 期初
		 select carry_dt=null,a.agent_id,amot=bal0,rec_amot=0,pay_amot=0
		  from tb_agentbal a
*/
	) a 
	where (@agentid=0 or a.agent_id=@agentid)
	group by agent_id
	--having @f1=1 or sum(isnull(bal0,0))+sum(isnull(amot,0))+sum(isnull(rec_amot,0))-sum(isnull(pay_amot,0))<>0

  select h.*,agent=p.mate_name,agent_code=p.mate_code,cdistrict=dbo.fn_getdistrict1(p.district)
	from #tmp h
	left join tb_busimate p on h.agent_id=p.mate_id
	where @f1=1 or (isnull(bal0,0)<>0 or isnull(amot,0)<>0 or isnull(rec_amot,0)<>0 or isnull(pay_amot,0)<>0)
	order by dbo.fn_getdistrict1(p.district),p.mate_name

return