ALTER proc [dbo].[sp_updatestock30](@upd_type int,@bod_id int,@user_id int)
as
/*其他支出出纳付款单审核*/
set nocount on

declare  @rd int,@ferror int,@bodsta int,@relaid int,@creatby int,@compid tinyint,@leadid int,@brokerid int,
         @alldesc varchar(20)

select @rd=case when @upd_type>0 then 1 else -1 end
select @ferror=0

select top 1 @bodsta=bod_status_id,@compid=comp_id,@creatby=creat_by,@alldesc=allo_desc
 from tb_bill
 where bod_id=@bod_id

if (@bodsta<>1 and @rd=-1) or (@bodsta=1 and @rd=1) or abs(@upd_type)<>30 return  -- 避免重复审核、反审核

begin tran 

update a
	set ckd_amot=isnull(a.ckd_amot,0) + @rd*d.amot
	from tb_bill_dtl d,tb_bill a
	where d.bod_id=@bod_id and d.med_id=a.bod_id

/*
update h
	set ckd_amot=isnull(h.ckd_amot,0) + @rd*b.amot
	from tb_bill_dtl d,tb_bill_dtl b,tb_bill_stadtl h
	where d.bod_id=@bod_id and d.med_id=b.bod_id and b.med_id=h.rec_id
*/
	if @@error<>0 select @ferror=1

label1:

label2:

--更改单据状态： 0 为制单  1 为审核
if @rd=1 update tb_bill set bod_status_id=1,check_by=@user_id,check_dt=getdate()   where bod_id=@bod_id
   else  update tb_bill set bod_status_id=2,check_by=@user_id,check_dt=getdate()   where bod_id=@bod_id
if @@error<>0 select @ferror=1

errhand:        -- 上述语句出现异常，ferror=1 则 rollback 否则 commit

if @ferror=1
begin
    rollback tran
    raiserror ('本次处理失败，原数据不受影响。请检查数据正确性，并重新操作',16,1)
end
else commit tran

return

