ALTER proc [dbo].[sp_updatestock57](@upd_type int,@bod_id int,@user_id int)
as
/*业务员应付费用补差单审核*/
set nocount on

declare  @rd int,@ferror int,@bodsta int,@relaid int,@creatby int,@compid tinyint,@leadid int,@brokerid int

select @rd=case when @upd_type>0 then 1 else -1 end
select @ferror=0

select top 1 @bodsta=bod_status_id,@compid=comp_id,@creatby=creat_by 
 from tb_bill
 where bod_id=@bod_id

if (@bodsta<>1 and @rd=-1) or (@bodsta=1 and @rd=1) or abs(@upd_type)<>57 return  -- 避免重复审核、反审核

begin tran 

label1:

label2:

if @rd=1
begin
/*
	update a set bf_id=dbo.fn_getbusiframerecid5(c.district,a.med_id,a.src_id,a.carry_dt)
		from tb_bill a 
		inner join tb_staff c on a.broker_id=c.sta_id 
		where a.bod_id=@bod_id
	if not exists (select 1 from tb_bill_stadtl h where bod_id=@bod_id)
		insert tb_bill_stadtl (bod_id,dtl_id,agent_id,med_id) 
			select bod_id,null,null,med_id from tb_bill where bod_id=@bod_id
*/

	if exists (select 1 from tb_bill_dtl b where bod_id=@bod_id and not exists (select 1 from tb_bill_stadtl h where b.dtl_id=h.dtl_id))
		insert into tb_bill_stadtl (bod_id,dtl_id) 
			select b.bod_id,b.dtl_id from tb_bill_dtl b where b.bod_id=@bod_id and not exists (select 1 from tb_bill_stadtl h where b.dtl_id=h.dtl_id)

end


--更改单据状态： 0 为制单  1 为审核
if @rd=1 update tb_bill set bod_status_id=1,check_by=@user_id,check_dt=getdate()   where bod_id=@bod_id
   else  update tb_bill set bod_status_id=2,check_by=@user_id,check_dt=getdate()   where bod_id=@bod_id
if @@error<>0 select @ferror=1

errhand:        -- 上述语句出现异常，ferror=1 则 rollback 否则 commit

if @ferror=1
begin
    rollback tran
    raiserror ('本次处理失败，原数据不受影响。请检查数据正确性，并重新操作',16,1)
end
else commit tran

return

