ALTER proc [dbo].[sp_updatestock37](@upd_type int,@bod_id int,@user_id int)
as
/*其他支出核销审核*/
set nocount on

declare  @rd int,@ferror int,@bodsta int,@relaid int,@creatdt datetime,@compid tinyint,@leadid int,@brokerid int,
         @srcid int,@dstid int,@mate_id int,@medid int,@batcd varchar(11)

select @rd=case when @upd_type>0 then 1 else -1 end
select @ferror=0

select top 1 @bodsta=bod_status_id,@compid=comp_id,@leadid=src_id,@brokerid=broker_id
 from tb_bill
 where bod_id=@bod_id

if (@bodsta<>1 and @rd=-1) or (@bodsta=1 and @rd=1) or abs(@upd_type)<>37 return  -- 避免重复审核、反审核

begin tran 

update c
	set ckd_amot1= isnull(c.ckd_amot1,0) + @rd*b.amot
	from tb_bill_dtl b,tb_bill c
	where b.bod_id=@bod_id and b.type_id=36 and b.type_id=c.bod_type_id and b.med_id=c.bod_id
if @@error<>0 select @ferror=1


update h
	set ckd_amot1= isnull(h.ckd_amot1,0) + @rd*b.amot
	from tb_bill_dtl b,tb_bill c,tb_bill_stadtl h
	where b.bod_id=@bod_id and b.type_id=1 and b.type_id=c.bod_type_id and c.bod_id=h.bod_id and b.med_id=h.rec_id
if @@error<>0 select @ferror=1

if @rd=1
begin

	update a set channel_id=c.channel_id,channel_dtl_id=c.channel_dtl_id  -- 方便后续查询
		from tb_bill a 
		inner join tb_bill_dtl b on a.bod_id=b.bod_id 
		inner join (select bod_type_id=0,rec_id,channel_id=VTWEG,channel_dtl_id=KDGRP from SAP_ZSD_015 where KDGRP not in ('10','19') 	
					union all 
					select bod_type_id,re_id=bod_id,channel_id,channel_dtl_id from tb_bill where bod_type_id=36 and bod_status_id=1) c 
			on b.type_id=c.bod_type_id and b.med_id=c.rec_id 
		where a.bod_id=@bod_id

/*
	update a set channel_id=x.obj_code,channel_dtl_id=y.obj_code  -- 方便后续查询
		from tb_bill a 
		inner join tb_bill_dtl b on a.bod_id=b.bod_id 
		inner join (select bod_type_id=0,bod_id=rec_id,bod_cd1=GBELN,mate_name=NAME1,agent=NAME_FIRST, 	    dist1=ZZREGION, dist2=ZCITYNAME, level1=ZBEZEI,channel_id=0,channel=VTEXT,channel_dtl_id=0,channel_dtl=ZKDGRP,carry_dt,bod_desc1='',      material_code=MATNR,med_code='',med_name=ARKTX,specifi=ZGG,pdt_place=ZSCQY,med_unit='',      qty,price=cast(ZPR03 as decimal(15,4)),amot=cast(qty*cast(ZPR03 as decimal(15,4)) as decimal(15,2))      from SAP_ZSD_015 where KDGRP not in ('10','19') 	
			union all 
			select bod_type_id,a.bod_id,bod_cd1=bod_cd,mate_name=dbo.fn_mate_name(a.dst_id),agent=dbo.fn_mate_name(a.agent_id),      dist1=f.BEZEI,dist2=f.CITY1,level1='',a.channel_id,channel=dbo.fn_obj_desc1(11,a.channel_id),a.channel_dtl_id,channel_dtl=dbo.fn_obj_desc1(12,a.channel_dtl_id),carry_dt,bod_desc1=a.bod_desc,      m.material_code,m.med_code,m.med_name,m.specifi,m.pdt_place,med_unit=dbo.fn_obj_desc(m.unit_id),      qty=0,price=0,amot=cast(a.bod_amot as decimal(15,2))
				from tb_bill a left join tb_busimate f on a.agent_id=f.mate_id left join tb_medicine m on a.med_id=m.med_id 		where a.bod_type_id=36 and a.bod_status_id=1) c 
			on b.type_id=c.bod_type_id and b.med_id=c.bod_id 
		left join (select obj_id,obj_code,zdesc from tb_object where obj_type_id=11) x on x.zdesc=c.channel
		left join (select obj_id,obj_code,zdesc from tb_object where obj_type_id=12) y on y.zdesc=c.channel_dtl
		where a.bod_id=@bod_id
*/
end

label1:

label2:

--更改单据状态： 0 为制单  1 为审核
if @rd=1 update tb_bill set bod_status_id=1,check_by=@user_id,check_dt=getdate()   where bod_id=@bod_id
   else  update tb_bill set bod_status_id=5,check_by=@user_id,check_dt=getdate()   where bod_id=@bod_id
if @@error<>0 select @ferror=1

errhand:        -- 上述语句出现异常，ferror=1 则 rollback 否则 commit

if @ferror=1
begin
    rollback tran
    raiserror ('本次处理失败，原数据不受影响。请检查数据正确性，并重新操作',16,1)
end
else commit tran

return

