ALTER proc [dbo].[sp_updatebod2mate](@bodid int)
/*配送商销售出库*/
as

set nocount on

declare  @ferror int,@bodtypeid int,
         @srcid int,@dstid int,@matetypeid int,@levelid tinyint,@medid int,
		 @compid tinyint,@mateid int,@mateid1 int,@mateid2 int,
		 @districtid int,@recid int,@parentid int,@carrydt datetime

select @ferror=0

select top 1 @compid=a.comp_id,@srcid=src_id,@dstid=dst_id,
		@matetypeid=mate_type_id,
		@districtid=b.district,@carrydt=a.carry_dt,
		@bodtypeid=bod_type_id
 from tb_bill a,tb_busimate b
 where bod_id=@bodid and a.dst_id=b.mate_id

--以下填写流向数据

update b
	set level_id1=f.level_id1,level_id2=f.level_id2,level_id3=f.level_id3,lead_id=f.sta_id,sta_id1=f.sta_id
	from tb_bill_dtl b,tb_busiframe f,(select med_id,district_id,rec_id=max(rec_id) from tb_busiframe where valid_dt<=@carrydt group by med_id,district_id) c
	where b.bod_id=@bodid and b.med_id=f.med_id and f.rec_id=c.rec_id and dbo.fn_treeischild(@districtid,f.district_id)=1

update b
	set rule_id=f.rec_id,sta_id=f.sta_id,rate=f.rate,price1=f.price1  --,lead_id=f.lead_id
	from tb_bill a,tb_bill_dtl b,tb_brokermed f
	where a.bod_id=@bodid and a.bod_id=b.bod_id	and f.rec_id=dbo.fn_getbrokermedrecid(a.dst_id,b.med_id,a.carry_dt)

/*
update b
	set rule_id=f.rec_id,sta_id=case when f.valid=1 and isnull(f.stop_yn,0)=0 then f.sta_id else null end,rate=f.rate,price1=f.price1
	from tb_bill_dtl b,tb_brokermed f,(select mate_id,med_id,rec_id=max(rec_id) from tb_brokermed where valid=1 and valid_dt<=@carrydt group by mate_id,med_id) c
	where b.bod_id=@bodid and f.mate_id=@dstid and b.med_id=f.med_id and f.rec_id=c.rec_id
*/

declare @tab table (bod_id int,dtl_id int,sta_id int,rule_id int)
insert @tab (bod_id,dtl_id,sta_id,rule_id)
	select @bodid,dtl_id,c.sta_id,c.rec_id from tb_bill_dtl b,tb_brokermedtl c
		where b.bod_id=@bodid and b.rule_id=c.rela_id
			--and not exists (select 1 from tb_bill_stadtl d where d.bod_id=@bodid and b.dtl_id=d.dtl_id and d.sta_id=c.sta_id)

if exists (select 1 from tb_bill_stadtl where bod_id=@bodid and rule_id not in (select rule_id from @tab))
	delete from tb_bill_stadtl where bod_id=@bodid and rule_id not in (select rule_id from @tab)

insert tb_bill_stadtl (bod_id,dtl_id,sta_id,rule_id)
	select bod_id,dtl_id,sta_id,rule_id from @tab where rule_id not in (select rule_id from tb_bill_stadtl where bod_id=@bodid)

/*
insert tb_bill_stadtl (bod_id,dtl_id,sta_id,rule_id)
	select @bodid,dtl_id,c.sta_id,c.rec_id from tb_bill_dtl b,tb_brokermedtl c
		where b.bod_id=@bodid and b.rule_id=c.rela_id
			and not exists (select 1 from tb_bill_stadtl d where d.bod_id=@bodid and b.dtl_id=d.dtl_id and d.sta_id=c.sta_id)
*/

update c set sta_id=f.sta_id,rate=f.rate from tb_bill_stadtl c,tb_brokermedtl f where c.bod_id=@bodid and c.rule_id=f.rec_id


select top 1 @medid=med_id,@recid=rela_id from tb_bill_dtl where bod_id=@bodid
			
select top 1 @levelid=isnull(level_id,0) from tb_sysrule
	where type_id=2 and mate_id=@srcid and med_id=@medid
		and (valid_dt<=@carrydt or creat_dt<=@carrydt)
	order by valid_dt desc,creat_dt desc

--select rec_id,mate_id,med_id,valid_dt,creat_dt from tb_sysrule where type_id=2 order by valid_dt desc,creat_dt desc

update tb_bill set mate_id1=null,mate_id2=null,mate_id3=null,mate_id4=null,mate_id5=null
	where bod_id=@bodid --先清除可能已有的原值，保证按当前规则取值

if @@ROWCOUNT=1 and @levelid>0 and @levelid<5
begin
	if @levelid=1  --1级商
	begin
		if @matetypeid=1 --购货单位为医院
			update tb_bill set mate_id1=@srcid,mate_id5=@dstid where bod_id=@bodid
		else             --购货单位为商业
			update tb_bill set mate_id1=@srcid,mate_id2=@dstid where bod_id=@bodid
	end
	if @levelid=2  --2级商
	begin

		select top 1 @mateid=a.mate_id from tb_medstock_bat a,tb_medstock_bat b
			where b.rec_id=@recid and a.rec_id=b.parent_id

		if @matetypeid=1 --购货单位为医院
			update tb_bill set mate_id1=@mateid,mate_id2=@srcid,mate_id5=@dstid where bod_id=@bodid
		else             --购货单位为商业
			update tb_bill set mate_id1=@mateid,mate_id2=@srcid,mate_id3=@dstid where bod_id=@bodid
	end
	if @levelid=3  --3级商
	begin

		select top 1 @mateid=a.mate_id,@recid=a.parent_id from tb_medstock_bat a,tb_medstock_bat b
			where b.rec_id=@recid and a.rec_id=b.parent_id

		select top 1 @mateid1=a.mate_id from tb_medstock_bat a where rec_id=@recid

		if @matetypeid=1 --购货单位为医院
			update tb_bill set mate_id1=@mateid1,mate_id2=@mateid,mate_id3=@srcid,mate_id5=@dstid where bod_id=@bodid
		else             --购货单位为商业
			update tb_bill set mate_id1=@mateid1,mate_id2=@mateid,mate_id3=@srcid,mate_id4=@dstid where bod_id=@bodid
	end
	if @levelid=4  --4级商
	begin

		select top 1 @mateid=a.mate_id,@recid=a.parent_id from tb_medstock_bat a,tb_medstock_bat b
			where b.rec_id=@recid and a.rec_id=b.parent_id

		select top 1 @mateid1=a.mate_id,@mateid2=b.mate_id from tb_medstock_bat a,tb_medstock_bat b
			where b.rec_id=@recid and a.rec_id=b.parent_id

		update tb_bill set mate_id1=@mateid1,mate_id2=@mateid2,mate_id3=@mateid,mate_id4=@srcid,mate_id5=@dstid
			where bod_id=@bodid

	end
end

update b
	set rate0=dbo.fn_getbidprice3(a.dst_id,b.med_id,a.carry_dt),
		drawprice= dbo.fn_getrate1(a.dst_id,b.med_id,a.carry_dt),
		costprice=dbo.fn_getprice2(a.dst_id,b.med_id,a.carry_dt)
	from tb_bill a,tb_bill_dtl b
	where a.bod_id=@bodid and a.bod_id=b.bod_id


update b
	set price=dbo.fn_getdtlprice(b.dtl_id)
	from tb_bill_dtl b
	where b.bod_id=@bodid and isnull(b.price,0)=0  -- 弥补 当导入时未取得价格

return