select top 3 a.bod_id,a.bod_cd,creat_dt=cast(convert(char(10),a.creat_dt,20) as datetime),a.bod_type_id
from tb_bill a,tb_bill_dtl b  
where a.bod_type_id=58 and a.bod_status_id<>1 and a.bod_id=b.bod_id and (1=2  or b.type_id=0  and b.med_id in (22186))

update tb_bill set bod_type_id=158 where bod_id=16959

select top 3 a.bod_cd,creat_dt=cast(convert(char(10),a.creat_dt,20) as datetime),b.*
from tb_bill a,tb_bill_dtl b  
where a.bod_type_id=58 and a.bod_status_id<>1 and a.bod_id=b.bod_id and b.med_id in (22186) 

select * into tb_medprice_250811 from tb_medprice
select * from tb_medprice_250811 where type_id=4
select * from tb_medprice where type_id=4

update a set channel_id=b.obj_code from tb_medprice a,tb_object b where a.channel_id=b.obj_id
select a.rec_id,a.channel_id,a.channel_dtl_id,b.obj_id,b.obj_code,b.zdesc from tb_medprice a,tb_object b where a.type_id=4 and a.channel_dtl_id=b.obj_id

update a set channel_id=b.obj_code from tb_medprice a,tb_object b where a.type_id=4 and a.channel_id=b.obj_id
update a set channel_dtl_id=b.obj_code from tb_medprice a,tb_object b where a.type_id=4 and a.channel_dtl_id=b.obj_id