ALTER TRIGGER [dbo].[tr_busiframe3_dtl] ON [dbo].[tb_busiframe3_dtl] 
FOR INSERT, UPDATE, DELETE
AS

    if update(amot) or update(fee) or update(rate)
    begin

 --select b.rela_id,amot=sum(b.amot),fee=sum(b.fee),rate=sum(b.rate) from inserted i where i.rela_id group by b.rela_id

		if exists (select * from inserted)
			update a
				set amot = b.amot, fee  = b.fee, rate = b.rate
				from tb_busiframe3 a,(select b.rela_id,amot=sum(b.amot),fee=sum(b.fee),rate=sum(b.rate) from tb_busiframe3_dtl b where b.rela_id in (select rela_id from inserted i) group by b.rela_id) b
				where a.rec_id=b.rela_id
	end

	if exists (select 1 from deleted) and not exists (select 1 from inserted)  --删除tb_busiframe3_dtl记录
	begin

		update a
			set amot = b.amot, fee  = b.fee, rate = b.rate
			from tb_busiframe3 a
			left join (select rela_id,amot=sum(amot),fee=sum(fee),rate=sum(rate) from tb_busiframe3_dtl where rela_id in (select rela_id from deleted) group by rela_id) b on a.rec_id=b.rela_id
			where a.rec_id=b.rela_id
	end

return

