ALTER TRIGGER [dbo].[tr_busimate1] ON [dbo].[tb_busimate] 
FOR INSERT, UPDATE
AS
begin

	if UPDATE(mate_name)
		update c
			set qry_code=dbo.fn_getPY(i.mate_name) from tb_busimate c,inserted i
			where c.mate_id=i.mate_id

	if update(district) --and exists (select 1 from inserted where )
		update c
			set BEZEI=dbo.fn_getdistrictname(i.district,1),city1=dbo.fn_getdistrictname(i.district,2) from tb_busimate c,inserted i
			where c.mate_id=i.mate_id

end
