ALTER TRIGGER [dbo].[tr_busiframe3_dtl] ON [dbo].[tb_busiframe3_dtl] 
FOR INSERT, UPDATE, DELETE
AS

    if exists (select * from inserted)
	begin
        update a
            set amot = (select sum(amot) from tb_busiframe3_dtl where rela_id=i.rela_id)
            from tb_busiframe3 a,inserted i
            where a.rec_id=i.rela_id
        update a
            set fee = (select sum(fee)  from tb_busiframe3_dtl where rela_id=i.rela_id)
            from tb_busiframe3 a,inserted i
            where a.rec_id=i.rela_id
	end

    if exists (select * from deleted)
	begin
        update a
            set amot = (select sum(amot) from tb_busiframe3_dtl where rela_id=d.rela_id)
            from tb_busiframe3 a,deleted d
            where a.rec_id=d.rela_id
        update a
            set fee = (select sum(fee)  from tb_busiframe3_dtl where rela_id=d.rela_id)
            from tb_busiframe3 a,deleted d
            where a.rec_id=d.rela_id
	end

return

