ALTER TRIGGER [dbo].[tr_medprice] ON [dbo].[tb_medprice] 
FOR INSERT,UPDATE
AS
begin

    if exists (select 1 from inserted)
	begin

		--insert into tb_medprice (comp_id,type_id,channel_id,channel_dtl_id,district_id,med_id,price,price_unit,price1,valid_from,valid_to,creat_by,creat_dt)

		if exists (select 1 from tb_medprice a,inserted i
			where i.type_id=3 and a.type_id=i.type_id and a.channel_id=i.channel_id and a.channel_dtl_id=i.channel_dtl_id and a.district_id=i.district_id
				and a.med_id=i.med_id and a.price=i.price and a.price_unit=i.price_unit and a.price1=i.price1 and a.valid_to>=i.valid_from)
		begin
			update a set valid_to=dateadd(day,-1,i.valid_from)
				from tb_medprice a,inserted i
				where i.type_id=3 and a.type_id=i.type_id and a.channel_id=i.channel_id and a.channel_dtl_id=i.channel_dtl_id and a.district_id=i.district_id
					and a.med_id=i.med_id and a.price=i.price and a.price_unit=i.price_unit and a.price1=i.price1 and a.valid_to>=i.valid_from 

			if update(ZREGIO) or update(ZCITYNUM)
				update a set district_id=case when i.ZCITYNUM>0 then i.ZCITYNUM else i.ZREGIO end
					from tb_medprice a,inserted i
					where a.rec_id=i.rec_id and a.type_id in (1,2)

			if update(district_id)
				update tb_medprice set prov_name=dbo.fn_getdistrictname (district_id,1) where rec_id in (select rec_id from inserted)
		end
	end

end
